<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odbpo.fenggou">

    <application
        android:name=".global.SlashApplication"
        android:icon="@mipmap/slash_helper_square"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.impl.Category" />
        <activity android:name=".view.impl.Mine" />
        <activity android:name=".view.impl.Product" />
        <activity android:name=".view.impl.Shopping" />
        <activity android:name=".view.impl.Category" />
        <activity android:name=".view.impl.MIne" />
        <activity android:name=".view.impl.Mine" />
        <activity android:name=".view.impl.Shopping" />
        <activity android:name=".view.impl.Product" />
        <activity android:name=".view.impl.Login" />
        <activity android:name=".view.impl.info" />
        <activity android:name=".view.impl.Info"></activity>
    </application>

</manifest>